body {
    background-image:url(quiz.jpg);
    background-color: #0b6fd4;
}
.quiz-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #a75454;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.feedback {
    margin-top: 10px;
    font-weight: bold;
}